@import "tailwindcss";

@theme {
  /* Orange color palette */
  --color-orange: #E07B3E;
  --color-orange-dark: #E06C1E;
  
  /* Blue color palette */
  --color-blue: #1B365D;
  --color-blue-dark: #1D4ED8;
}
